<?xml version="1.0" ?>
<launch>
  <arg name="device_name"      default="/dev/ttyACM0"/>
  <arg name="baud_rate"        default="57600"/>
  <arg name="protocol_version" default="1.0"/>

  <arg name="pan_id"           default="2"/>
  <arg name="tilt_id"          default="1"/>

  <param name="device_name"      value="$(arg device_name)"/>
  <param name="baud_rate"        value="$(arg baud_rate)"/>
  <param name="protocol_version" value="$(arg protocol_version)"/>

  <param name="pan_id"           value="$(arg pan_id)"/>
  <param name="tilt_id"          value="$(arg tilt_id)"/>

  <!-- Launching ROS - Head Connection -->
  <node name="head_interface" pkg="dynamixel_workbench_controllers" type="position_control" required="true" output="screen">
    <rosparam>
      profile_velocity: 100
      profile_acceleration: 10
    </rosparam>
  </node>

  <!-- Launching ROS - Head Connection -->
  <node name="head_publisher" pkg="head" type="head_publisher.py" required="true" output="screen"/>
  
  <!-- Combining head joint states with the yumi arm joint states -->
  <node pkg="topic_tools" type="relay" name="head_joints_relay" args="/head/joint_states /joint_states"/>

  <!-- Launching Head - Control Service Server -->
  <node name="head_server" pkg="head" type="head_server.py" required="true" output="screen"/>
</launch>
