[submodule "openface_ros"]
	path = openface_ros
	url = https://github.com/ditoec/openface_ros
[submodule "yumi"]
	path = yumi
	url = https://github.com/ditoec/yumi
[submodule "realsense_samples_ros"]
	path = realsense_samples_ros
	url = https://github.com/ditoec/realsense_samples_ros
