<?xml version="1.0" ?>
<launch>
    <arg name="ip" default="192.168.125.1"/>

	<!-- Launching ROS - Yumi Connection with IP address argument -->
	<include file="$(find yumi_support)/launch/robot_interface.launch">
		<arg name="robot_ip" value="$(arg ip)"/>
	</include>

	<!-- Launching Yumi - MoveIt - Rviz with system URDF configuration -->
	<include file="$(find yumi_moveit_config)/launch/yumi_system.launch"/>
	
	<!-- Launching Yumi - Control Server -->
	<node name="arm_server_init" pkg="arm" type="arm_server_init.sh" output="screen"/>
</launch>
