<?xml version="1.0" ?>
<launch>
        <!-- Launching realsense D415 -->
        <include file="$(find realsense2_camera)/launch/rs_aligned_depth.launch"/>
        <!-- Launching open face ROS 2.1 Node -->
	<node name="openface2_ros" pkg="openface2_ros" type="openface2_ros" output="screen">
		<param name="image_topic" value="camera/color/image_raw" />
		<param name="publish_viz" value="false" />
	</node>
</launch>
