<?xml version="1.0" ?>
<launch>
	<!-- Launching ROS - Yumi Connection with IP address argument -->
	<include file="$(find yumi_support)/launch/robot_interface.launch">
		<arg name="robot_ip" value="164.11.72.148"/>
	</include>

	<!-- Launching Yumi - MoveIt - Rviz with system URDF configuration -->
	<include file="$(find yumi_moveit_config)/launch/demo_online.launch"/>

	<!-- Launching ROS - Head Connection -->
	<!--include file="$(find head)/launch/head_interface.launch"-->

	<!-- Launching ROS - Leap Motion Connection -->
	<node name="leap_init" pkg="init" type="leap_init.sh" output="screen"/>
	
	<!-- Launching Yumi - Control Server -->
	<node name="arm_server_init" pkg="init" type="arm_server_init.sh" output="screen"/>
	
	<!-- Launching Head - Control Server & Joint States Publisher -->
        <!--node name="head_publisher" pkg="head" type="head_publisher" output="screen"/-->
	<!--node name="head_server" pkg="head" type="head_server" output="screen"/-->

        <!-- Launching Leap Hand Rviz Viewer and Gesture Recognition Server -->
	<node name="leap_viewer" pkg="leap" type="leap_viewer" output="screen"/>
</launch>
